.cart__items{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 5px;
}
.cart__items__div{
    cursor: pointer;
}
.cart__items__div > p{
    transition: 0.3s;
}.cart__items__div > p:hover{
    color: lightpink;
}
