.card {
    display: flex;
    border: 2px solid lightpink;
    border-radius: 25px;
    flex-flow: column;
    align-items: center;
    margin-top: 15px;
    overflow: hidden;
    width: 270px;
    justify-content: space-between;
}
.card__body{
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 15px;
    justify-content: space-between;
    text-align: center;
}

.card__row{
    display: flex;
    flex-flow: row;
    margin-top: 10px;
    gap: 10px;
}
.card__row__img{
    width: 20px;
    height: auto;
    display: flex;
    align-self: center;
}