.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    gap: 10px;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
}
.modal__content{
    display: flex;
    flex-flow: column;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    gap: 10px;
}

