@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
a {
    text-decoration: none;
}
.container__content{
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.input__mask{
    border: 2px solid lightpink;
    background: white;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 16px;
}
.input__mask:active{
    border: 2px solid lightpink;
}
.modal__h2{
    margin-top: 5px;
    margin-bottom: 15px;
}
